. * {
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1024px;
    margin: 0 auto;
    position: relative;
}

.header-box {
    position: relative;
    height: 100vh;
    background: #192314;
    overflow: hidden;
}

.header-pic-box {
    width: 652px;
    height: 499px;
    background: url(green-beosound-shape-desktop.jpg);
    background-size: 100% auto;
    float: right;
}

.header-test-box {
    font-family: SimHei, "黑体", Hiragino Sans GB, "冬青黑体", sans-serif;
    width: 512px;
    height: 208px;
    /*background: #4CAF50;*/
    position: absolute;
    left: 100px;
    top: 150px;
}

.description-body1 {
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 24px;
    color: #fff;
}

.description-body2 {
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 4px;
    margin-top: 15px;
    margin-bottom: 24px;
    font-weight: normal;
    color: #fff;
}

.description-body3 {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 20px;
    color: #fff;
}

.button {
    display: block;
    width: 202px;
    line-height: 21px;
    padding: 10px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    text-decoration: none;
    text-align: center;
    /*white-space: normal;*/
}

.middle-box {
    /* height: 410px;*/
    padding-bottom: 100px;
    background: url(img-bg-1350.jpg) 0 -158px / 100% auto;

}

.three-box {
    width: 705px;
    height: 353px;
    margin: -48px auto 0 auto;
    position: relative;
    z-index: 100;
}

.picture {
    float: left;
    width: 235px;
    height: 353px;
    position: relative;
}

.picture h4 {
    position: absolute;
    top: -10px;
    left: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.picture img {
    width: 100%;
}

.top-menu {
    width: 986px;
    height: 57px;
    display: flex;
    padding: 0 22px;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

.top-menu .left, .top-menu .right {
    height: 100%;
    width: 150px;
    line-height: 57px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.top-menu .left {
    background: url(产品.png) no-repeat left center;
}

.top-menu .right {
    background: url(菜单.png) no-repeat right center;
}

.top-menu .center {
    height: 100%;
    line-height: 57px;
    width: 190px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
}

.row {
    width: 836px;
    height: 158px;
    padding-top: 100px;
    padding-bottom: 60px;
    margin: 0 auto;
}

.row1 {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    width: 100%;
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 18px;
}

.row2 {
    letter-spacing: 4px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
}

.product-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.product {
    position: relative;
    width: 512px;
    height: 512px;
}

.product:nth-child(1) {
    background: url(桌子.jpg);
    background-size: 100% auto;
}

.product:nth-child(2) {
    background: url(电视.jpg);
    background-size: 100% auto;
}

.product:nth-child(3) {
    background: url(音响.jpg);
    background-size: 100% auto;
}

.product:nth-child(4) {
    background: url(小东西.jpg);
    background-size: 100% auto;
}

.product:nth-child(5) {
    background: url(光碟.jpg);
    background-size: 100% auto;
}

.product:nth-child(6) {
    background: url(小姐姐.jpg);
    background-size: 100% auto;
}

.product h4 {
    position: absolute;
    top: 27px;
    left: 31px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 26px;
}

/*.img {*/
/*width: 705px;*/
/*height: 168px;*/
/*!*background: red;*!*/
/*margin: 0 auto;*/
/*position: relative;*/
/*}*/

/*.img1 {*/
/*width: 176px;*/
/*height: 168px;*/
/*position: absolute;*/
/*background: url(design-as-a-group-effort-01.jpg);*/
/*background-size: 100% auto;*/
/*}*/

/*.img2 {*/
/*left: 176px;*/
/*width: 176px;*/
/*height: 168px;*/
/*position: absolute;*/
/*background: url(the-krane.jpg);*/
/*background-size: 100% auto;*/
/*}*/

/*.img3 {*/
/*left: 352px;*/
/*width: 356px;*/
/*height: 168px;*/
/*position: absolute;*/
/*background: url(harmonies-story.jpg);*/
/*background-size: 100% auto;*/
/*}*/

/*.word {*/
/*width: 705px;*/
/*height: 176px;*/
/*margin: 0 auto;*/
/*position: relative;*/
/*}*/

/*.case1 {*/
/*width: 167px;*/
/*height: 126px;*/
/*position: absolute;*/

/*margin-top: 30px;*/
/*padding-right: 9px;*/
/*}*/

/*.case2 {*/
/*left: 177px;*/
/*width: 167px;*/
/*height: 105px;*/
/*position: absolute;*/

/*margin-top: 30px;*/
/*padding-right: 9px;*/
/*}*/

/*.case3 {*/
/*left: 352px;*/
/*width: 335px;*/
/*height: 105px;*/
/*position: absolute;*/

/*margin-top: 30px;*/
/*padding-right: 18px;*/
/*}*/

/*.description-case1 {*/
/*margin-bottom: 18px;*/
/*font-size: 12px;*/
/*font-weight: 300;*/
/*letter-spacing: normal;*/
/*line-height: 24px;*/
/*color: #000;*/
/*}*/

/*.description-case2 {*/
/*font-size: 13px;*/
/*font-weight: 300;*/
/*letter-spacing: normal;*/
/*line-height: 23px;*/
/*color: #000;*/
/*opacity: 0.6;*/

.story-list {
    margin: 0 auto;
    width: 705px;
    height: 364px;
    display: flex;
    padding-bottom: 100px;
}

.story {
    width: 176px;
}

.story-list .story:nth-child(3) {
    width: 353px;
}

.story img {
    width: 100%;
}

.story h5 {
    padding-right: 9px;
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 24px;
    color: #000;
}

.story .desc {
    padding-right: 9px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 23px;
    color: #000;
    opacity: 0.6;
}

.info-box {
    padding: 0 14px;
    height: 510px;
    width: 100%;
    display: flex;
    border-top: 1px #f2f2f2 solid;
}

.info-item {
    width: 50%;
    padding-top: 80px;
    text-align: center;
    height: 430px;
}

.info-item:nth-child(1) {
    border-top: 1px;
    border-right: 1px #f2f2f2 solid;

}

.info-item .icon1 {
    height: 54px;
    width: 54px;
    margin: 80px auto 20px auto;
    border-radius: 50%;
    background: url("news.jpg") black no-repeat center center;
}

.info-item .icon2 {
    height: 54px;
    width: 54px;
    margin: 80px auto 20px auto;
    border-radius: 50%;
    background: url("target.png") black no-repeat center center;
}

.info-item h5 {
    margin: 0 auto 20px auto;
    width: 290px;
    line-height: 17px;
    font-size: 13px;
    font-weight: normal;
}

.info-item h6 {
    margin: 0 auto 20px auto;
    width: 290px;
    line-height: 17px;
    font-size: 13px;
    color: #888;
    font-weight: normal;
}

.info-item .button {
    width: 120px;
    height: 21px;
    margin: 8px auto;
    background: rgba(0, 0, 0, 0.1);
    font-size: 12px;
    color: #000;
}

.info-item input {
    display: block;
    width: 346px;
    height: 42px;
    padding: 6px 12px;
    line-height: 17px;
    margin: 12px auto 40px auto;
    border: 1px solid #ccc;
    outline: none;
}

.info-item .search {
    margin: 100px auto 0 auto;
}

.footer {
    border-top: 1px solid #e5e5e5;
    height: 82px;
    padding: 20px 14px;
    display: flex;
    justify-content: space-between;

}

.footer .left {
    height: 20px;
    width: 350px;
    line-height: 20px;
    padding-left: 37px;
    background: url("logble.jpg") no-repeat left 1px;
}

.footer .left a {
    font-weight: 400;
    color: #000;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 3px;
}

.footer .right {
    width: 612px;
    height: 42px;
    padding: 0 14px;
}

.footer .right a {
    display: block;
    text-decoration: none;
    line-height: 18px;
    margin-left: 16px;
    color: black;
    height: 19px;
    float: right;
    font-size: 12px;
    font-weight: 400;

}